#issMap {
    min-height: 90%;
    z-index: 1;
}

html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto';
    background-color: #01032b;
    color: rgb(219, 6, 77);
    overflow: hidden;
}

body {}



.heading {
    min-height: 10%;
    margin-top: 0em;
}
